aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
boto3==1.26.120
botocore==1.29.120
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
colorlog==6.7.0
contourpy==1.0.7
cycler==0.11.0
denoiser==0.1.5
einops==0.6.1
encodec==0.1.1
entrypoints==0.4
fastapi==0.95.1
ffmpy==0.3.0
filelock==3.12.0
Flask==2.3.1
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
funcy==2.0
gradio==3.27.0
gradio_client==0.1.3
h11==0.14.0
html5lib==1.1
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.14.1
hydra-colorlog==0.1.4
hydra-core==0.11.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
julius==0.2.7
kiwisolver==1.4.4
linkify-it-py==2.0.0
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
nltk==3.8.1
numpy==1.24.3
omegaconf==1.4.1
orjson==3.8.10
packaging==23.1
pandas==2.0.1
Pillow==9.3.0
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
pyparsing==3.0.9
pyrsistent==0.19.3
PySoundFile==0.9.0.post1
pystoi==0.3.3
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
s3transfer==0.6.0
scipy==1.10.1
semantic-version==2.10.0
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
starlette==0.26.1
suno-bark @ git+https://github.com/suno-ai/bark.git@2c12023eb22868a633b76357b69d657b374736d9
sympy==1.11.1
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchvision==0.15.1+cu118
tqdm==4.65.0
transformers==4.28.1
typing_extensions==4.5.0
tzdata==2023.3
uc-micro-py==1.0.1
urllib3==1.26.15
uvicorn==0.21.1
webencodings==0.5.1
websockets==11.0.2
Werkzeug==2.3.0
yarl==1.9.2
